@charset "UTF-8";
/* ====== Table of content Start =====*/
/*
Project Name: Quizo
File        : CSS Base
Version     : 1.0.0
Author      : jthemes (https://themeforest.net/user/jthemes)
*/
/* ====== Table of content End =====*/
/* Default transition start*/
/*Default transition end*/


:fullscreen{
    background-color: #fff;
}

.soal .wrapper {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: auto;
}

.soal .count_box {
  max-width: 25rem;
  min-height: 5.625rem;
  background: -webkit-gradient(linear, left top, right top, from(#18f9bd), to(#0ab84b));
  background: linear-gradient(to right, #18f9bd, #0ab84b);
  font-family: "Jost", sans-serif;
}

.soal .count_clock img {
  width: 2.5rem;
}

.soal .count_title h4 {
  color: #000a38;
  font-size: 1.146875rem;
  font-weight: 800;
  margin-bottom: -0.4rem;
}

.soal .count_title span {
  color: #000a38;
  font-size: 1.146875rem;
  font-weight: 800;
}

.soal .count_number {
  width: 14rem;
  height: 4.5rem;
  background-color: #ffffff;
  margin-right: -0.4rem;
}
.soal .count_number .count_hours h3,
.soal .count_number .count_min h3,
.soal .count_number .count_sec h3 {
  color: #000a38;
  font-size: 1.75rem;
  font-weight: 800;
  margin-bottom: -0.4rem;
}

.soal .count_number .count_hours span,
.soal .count_number .count_min span,
.soal .count_number .count_sec span {
  color: #000a38;
  font-size: 1rem;
  font-weight: 800;
  padding-left: 0.2rem;
}

.soal .count_number .count_hours:after,
.soal .count_number .count_min:after,
.soal .count_number .count_sec:after {
  content: "";
  width: 0.1875rem;
  height: 2.5625rem;
  top: 50%;
  right: 80px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  background-color: #e1e1e1;
}

.soal .count_number .count_hours:before,
.soal .count_number .count_min:before,
.soal .count_number .count_sec:before {
  content: "";
  width: 0.1875rem;
  height: 2.5625rem;
  top: 50%;
  left: 80px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  background-color: #e1e1e1;
}

.soal .multisteps_form_panel {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  overflow: hidden;
  height: 0;
}

.soal .multisteps_form_panel.active {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  height: auto;
}

.soal .multisteps_form_panel[data-animation=scaleOut] {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.soal .multisteps_form_panel[data-animation=scaleOut].active {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.soal .multisteps_form_panel[data-animation=slideHorz] {
  left: -50px;
}

.soal .multisteps_form_panel[data-animation=slideHorz].active {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  left: 0;
}

.soal .multisteps_form_panel[data-animation=slideVert] {
    top: 30px;
}

.soal .multisteps_form_panel[data-animation=slideVert].active {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    top: 0;
}

.soal .multisteps_form_panel[data-animation=fadeIn].active {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.soal .multisteps_form_panel[data-animation=scaleIn] {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.soal .multisteps_form_panel[data-animation=scaleIn].active {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.soal .form_content {
    min-height: 48.4375rem;
    background-image: url("../images/bg_1.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #ffffff;
    background-size: 93.125rem 16.5rem;
    -webkit-box-shadow: 0 -3em 3em rgba(73, 73, 73, 0.1), 0.3em 0.3em 1em rgba(73, 73, 73, 0.1);
          box-shadow: 0 -3em 3em rgba(73, 73, 73, 0.1), 0.3em 0.3em 1em rgba(73, 73, 73, 0.1);
    display: none;
}

.soal .multisteps_form_panel.active .form_content {
    display: block;
}

.soal .question_title{
    width: 100%;
}

.soal .question_title h1{
    color: #222222;
    font-size: 1.6875rem;
    border: 1px solid #91e2a8;
    border-bottom: 2px solid #91e2a8;
    padding: 5rem;
    border-radius: 0.3125rem;
    background-color: #fff;
    font-weight: 800;
    margin-bottom: 10px;
}

.soal .form_items label {
  width: 100%;
  color: #464646;
  font-size: 1.375rem;
  margin-right: 1.5625rem;
  padding: 1.25rem 0rem;
  padding-left: 5rem;
  font-weight: 800;
  cursor: pointer;
  border: 2px solid #d2d2d2;
  border-radius: 0.3125rem;
  position: relative;
}

.soal .form_items label span {
  top: 50%;
  left: 27px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  color: #000000 !important;
}

.soal .form_items label:last-child {
  margin-right: 0;
}

.soal .form_items label:after {
  content: "";
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.3125rem;
  background-color: #def7e5;
}

.soal .form_items label:before {
  content: "";
  top: 50%;
  left: 24px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.4375rem;
  line-height: 1;
  font-weight: 400;
  display: none;
  color: #fff;
  z-index: 1;
  font-family: "Font Awesome 5 Pro";
  position: absolute;
}

.soal .form_items label.active {
  color: #22a247;
  border: 2px solid #22a247;
  border-bottom: 3px solid #22a247;
  border-radius: 0.3125rem;
  background-color: #def7e5;
}

.soal .form_items label.active span {
  display: none;
}

.soal .form_items label.active:after {
  background: -webkit-gradient(linear, left top, right top, from(#46fac8), to(#0aba4f));
  background: linear-gradient(to right, #46fac8, #0aba4f);
}

.soal .form_items label.active:before {
  display: block;
  z-index: 2;
}

.soal .form_items input {
  opacity: 0;
}

.soal .form_items .error + .error {
  width: 281px;
  height: 39px;
  color: red;
  top: -80px;
  left: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  background-color: transparent;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  border: none;
  text-align: center;
  padding: 0px;
}

.soal .form_items .error + .error::after {
  display: none;
}

.soal .step_progress {
  width: 100%;
  bottom: 8%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.soal .step_progress span {
  color: #464646;
  font-size: 1.375rem;
  font-weight: 800;
}

.soal .progress {
  max-width: 21.875rem;
  margin: 0 auto;
}

.soal .progress .progress-bar {
  background: -webkit-gradient(linear, left top, right top, from(#18f9bd), to(#0ab84b)) !important;
  background: linear-gradient(to right, #18f9bd, #0ab84b) !important;
}

.soal .form_btn a {
  color: #ffffff !important;
}

.soal .form_btn a:hover {
  color: #000000 !important;
}

.soal .form_btn .f_btn {
  font-size: 1.125rem;
  font-weight: 800;
  padding: 0.9375rem 1.5625rem;
  outline: none;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#18f9bd), to(#0ab84b));
  background: linear-gradient(to right, #18f9bd, #0ab84b);
}

.soal .form_btn .f_btn:hover {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#0ab84b), to(#18f9bd));
  background: linear-gradient(to right, #0ab84b, #18f9bd);
  -webkit-transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.soal .form_btn .prev_btn {
  left: 0;
  bottom: 8%;
}

.soal .form_btn .next_btn {
  right: 0;
  bottom: 8%;
}

body {

}

.soal a,
.soal button,
.soal input {
  cursor: pointer;
  display: inline-block;
}

.soal a:hover,
.soal button:hover,
.soal input:hover {
  text-decoration: none;
}

.soal a:focus,
.soal button:focus,
.soal input:focus {
  outline: none;
}

.soal h1, .soal h2, .soal h3, .soal h4, .soal h5, .soal h6 {
  font-weight: 700;
}

.soal img {
  height: auto;
  max-width: 100%;
}

/* css animations - end ============================================= */
/* transition - start =============================================== */
.soal a,
.soal button {
  -webkit-transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

/* transition - end ================================================= */
.soal .dark-version.dark-version {
  background-color: #1a1a1a;
  color: #ffffff;
}

.soal .dark-version.dark-version h1,
.soal .dark-version.dark-version p {
  color: #ffffff !important;
}

.soal .dark-version.dark-version button,
.soal .dark-version.dark-version input,
.soal .dark-version.dark-version select,
.soal .dark-version.dark-version textarea,
.soal .dark-version.dark-version label {
  color: #ffffff !important;
  background-color: #000000 !important;
}

.soal .animate_25ms {
  -webkit-animation-delay: 25ms;
          animation-delay: 25ms;
}

.soal .animate_50ms {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}

.soal .animate_100ms {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.soal .animate_150ms {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.soal .animate_200ms {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

@media (min-width: 1500px) {
    .soal .container {
        max-width: 1510px;
    }
}
/* ==================================================
*	01 - media screen and (max-width: 991px)
*	02 - media screen and (max-width: 767px)
*	03 - media screen and (max-width: 575px)
*	04 - media screen and (max-width: 380px)
*	05 - media screen and (max-width: 320px)
*   XX-Large devices (larger desktops)
*   No media query since the xxl breakpoint has no upper bound on its width
================================================== */
@media screen and (max-width: 991.98px) {
    .logo_area {
        padding-left: 0rem !important;
    }

    .soal .count_box {
        margin-right: 0rem !important;
    }

    .soal .count_title h4 {
        font-size: 0.9rem;
        font-weight: 600;
    }

    .soal .count_title span {
        font-size: 0.9rem;
        font-weight: 600;
    }

    .soal .count_number {
        width: 12rem;
    }

    .soal .count_number .count_hours h3,
    .soal .count_number .count_min h3,
    .soal .count_number .count_sec h3 {
        font-size: 1.35rem;
        font-weight: 700;
    }

    .soal .count_number .count_hours span,
    .soal .count_number .count_min span,
    .soal .count_number .count_sec span {
        font-size: 1rem;
        font-weight: 700;
        padding-left: 0rem;
    }

    .soal .count_number .count_hours:after,
    .soal .count_number .count_min:after,
    .soal .count_number .count_sec:after {
        right: 66px;
    }

    .soal .count_number .count_hours:before,
    .soal .count_number .count_min:before,
    .soal .count_number .count_sec:before {
        left: 68px;
    }

    .soal .question_title h1 {
        font-size: 1.3875rem;
        padding: 3.5rem 1rem !important;
    }

    .soal .form_items label {
        font-size: 1.175rem;
        padding: 1.25rem 0rem;
        padding-left: 4rem;
        font-weight: 700;
    }

    .soal .form_items label:after {
        height: 2.3rem;
        width: 2.3rem;
    }

    .soal .form_items label:before {
        font-size: 1.1375rem;
        line-height: 1;
    }

    .soal .form_items .error + .error {
        left: 117%;
    }

    .soal .step_progress {
        bottom: 19px;
    }

    .soal .step_progress span {
        font-size: 0.8rem;
        font-weight: 600;
    }

    .soal .progress {
        max-width: 15rem;
    }

    .soal .f_btn {
        font-size: 1rem;
        font-weight: 700;
        padding: 0.7375rem 1rem;
    }
}
@media screen and (max-width: 767.98px) {
    .soal .logo_area {
        text-align: center;
        display: block;
    }

    .soal .count_title h4 {
        font-size: 0.7rem;
        font-weight: 500;
        padding-right: 0.2rem;
    }

    .soal .count_number {
        width: 12rem;
        height: 3.5rem;
    }

    .soal .count_number .count_hours h3,
    .soal .count_number .count_min h3,
    .soal .count_number .count_sec h3 {
        font-size: 1rem;
        font-weight: 600;
    }

    .soal .count_number .count_hours span,
    .soal .count_number .count_min span,
    .soal .count_number .count_sec span {
        font-size: 0.8rem;
        font-weight: 600;
    }

    .soal .count_number .count_hours:after,
    .soal .count_number .count_min:after,
    .soal .count_number .count_sec:after {
        top: 8px;
        right: 51px;
    }

    .soal .count_number .count_hours:before,
    .soal .count_number .count_min:before,
    .soal .count_number .count_sec:before {
        top: 8px;
        left: 48px;
    }

    .soal .question_title h1 {
        font-size: 1rem;
        padding: 3rem 1rem !important;
    }

    .soal .form_items {
        padding-bottom: 2rem;
    }

    .soal .form_items label {
        font-size: 1rem;
        padding: 1rem 0rem;
        padding-left: 4rem;
        font-weight: 600;
    }

    .soal .form_items label span {
        left: 25px;
    }

    .soal .form_items label:after {
        height: 2rem;
        width: 2rem;
    }

    .soal .form_items label:before {
        font-size: 1rem;
        line-height: 0.8;
    }

    .soal .form_items .error + .error {
        left: 60%;
    }

    .soal .step_progress span {
        font-size: 0.6rem;
        font-weight: 500;
    }

    .soal .progress {
        max-width: 15rem;
    }

    .soal .form_btn .f_btn {
        font-size: 0.6rem;
        font-weight: 600;
        padding: 0.5375rem 0.4rem;
    }
}

@media screen and (max-width: 575.98px) {
    .soal .logo_area {
        text-align: center;
        padding-left: 0rem !important;
    }

    .soal .question_title h1 {
        font-size: 0.8rem;
        padding: 2rem 0.8rem !important;
    }

    .soal .step_progress {
        bottom: 28px;
    }

    .soal .step_progress span {
        font-size: 0.8rem;
    }

    .soal .progress {
        max-width: 12rem;
        min-height: 0.7rem;
    }
}

@media screen and (max-width: 379.98px) {
    .soal .multisteps_form {
        max-width: 79rem;
        min-height: 33rem;
    }

    .soal .question_title h1 {
        font-size: 0.8rem;
        padding: 1.5rem 0.8rem !important;
    }

    .soal .form_items .error + .error {
        left: 58%;
    }

    .soal .step_progress {
        bottom: 40px;
    }

    .soal .step_progress span {
        font-size: 0.7rem;
    }

    .soal .f_btn {
        font-size: 0.5rem;
        padding: 0.3375rem 0.8rem;
    }
}
@media screen and (max-width: 319.98px) {
    .soal .multisteps_form {
        min-height: 32rem;
    }

    .soal .question_title h1 {
        padding: 1rem 0.8rem !important;
    }

    .soal .form_items label {
        font-size: 0.6rem;
        padding: 0.6rem 0rem;
        padding-left: 4rem;
    }

    .soal .form_items label span {
        left: 22px;
    }

    .soal .form_items label:after {
        height: 1.3rem;
        width: 1.3rem;
    }

    .soal .form_items label:before {
        font-size: 0.4rem;
    }

    .soal .progress {
        max-width: 8rem;
    }

    .soal .f_btn {
        font-size: 0.5rem;
        padding: 0.3375rem 0.6rem;
    }
}
